*, *:before, *:after {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 12px;
  margin: 2em 0 0.5em 0;
}

.demo {
    height: 10em;
    position: relative
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.image {
  width: 255px;
  height: 195px;
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  text-alight: center;
  margin-bottom: 12px;
}

.controls {
  width: 100%;
  
  label,
  input {
    display: inline-block;
    width: 100%;
  }
  
  label {
    margin-top: 1.2em;
    margin-bottom: 0.2em;
  }
}